{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="product-page">
        <div class="row">
            <div class="col-lg-4">
                <div id="product-filters">
                    <script type="text/template" id="filter-group" class="template">
                        <div class="filter-group-item">
                            <div class="filter-group-title"><%= title %></div>
                            <% _.each(filter, function(item){ %>
                            <div class="filter-item">
                                <p>
                                    <input type="checkbox" value="<%= item.get('configId') %>"
                                           data-url="<%= item.get('url') %>"/>

                                    <span><%= item.get('value') %></span>
                                </p>
                            </div>
                            <% }) %>
                        </div>
                    </script>
                </div>
            </div>
            <div class="col-lg-8">
                <ul id="product-list">
                    <script type="text/template" id="product-item" class="template">
                        <li class="item row">
                            <div class="col-lg-4">
                                <img src="https://stylus.ua/<%= item.image %>" class="img-thumbnail"/>
                            </div>
                            <div class="col-lg-8">
                                <div class="title"><%= item.title %></div>
                                <div class="price"><%= item.price %> грн</div>
                                <div class="description">
                                    <% _.each(item.configurations, function(c){ %>
                                    <span><%= c.name %>:</span> <%= c.value %><br/>
                                    <% }) %>
                                </div>
                            </div>
                        </li>
                    </script>
                </ul>
            </div>
        </div>
        <div>
            <ul class="pagination" id="navigation">
                <script type="text/template" id="pagination-item" class="template">
                    <li>
                        <a href=""  class="<%= itemClass %>" data-page="<%= num %>"><%= num %></a>
                    </li>
                </script>
            </ul>
        </div>
    </div>
{% endblock %}
